.buscador {
  padding: .5rem .5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: flex-end;
}

.buscador span {
  padding: 1rem 1rem 0 0;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 1rem;
}

span.procurar{
  color: white;
}

.type {
  width: 32rem;
  padding: 0.5rem;
  font-size: 1.15em;
  text-align: center;
  border-radius: .5rem 0 0 .5rem;
  border: 1px solid white;
}

.btn {
  border-radius: 0 .5rem .5rem 0;
  width: 10rem;
  background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
  color: white;
  padding: .6rem;
  font-size: 1.1em;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #a5abb65b;
  transition: all 200ms ease;
}
