.comunidade-form {
    border-radius: .6rem;
    background-color: #ffffffe3;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin-left: 30%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    text-align: center;
}

.h2_comunidade{
    color: black;
    padding: 2rem;
    font-size: 2.3rem;
}

.h3_comunidade{
    color: black;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}